.about {
  text-align: center;
  margin: 12rem 0 8rem 0;
}

.about h1 {
  color: var(--color-primary);
}

.about h1::after {
  display: block;
  content: "";
  background-color: var(--color-primary);
  height: .3rem;
  width: 6%;
  margin-left: 46.7%;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.about p {
  font-size: 2rem;
  width: 55%;
  margin: auto;
}