/* your custom css */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 75.5%; /* 1rem = 10px; 10px/16px = 62.5% */
  }
};

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary: #4F0075;
  --color-primary-light: #8107b9;
  --color-secondary: #41005E;

  --transition-fast: .5s all;
  --transition-slow: .9s all;
}

.contributors-container {
  /* Telas menores, remover space-between */
  width: 80%;
  height: 80rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}