/* your custom css */

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 68.5%; /* 1rem = 10px; 10px/16px = 62.5% */
  }
};

*,
*::before,
*::after {
  box-sizing: inherit;
}

.contributors-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: red;
  width: 28rem;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}