.features {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem 0 8rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70rem;
}

.feature__title {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2rem
}

.feature__img {
  width: 45rem;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.4);
  transition: all .5s;
}

.feature__img:hover {
  box-shadow: 0 0rem 2.5rem rgba(0, 0, 0, 0.4);
}

.feature__text {
  font-size: 2rem;
  margin-top: 2rem;
}