* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 75.5%; /* 1rem = 10px; 10px/16px = 62.5% */
  }
};

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 3rem !important;
}

.blockImage img {
  width: 40rem;
}