.disciplina {

    h2 {
        color: var(--color-purple-light);
        font-size: 1.8rem;
        margin: 5rem 0 2.5rem 0;

        &::after {
            content: "";
            display: block;
            width: 2rem;
            height: .1rem;
            background-color: var(--color-purple-light);
        }
    }

    ul {
        margin: 1.4rem 0 1.4rem 2.6rem;
        list-style-type: disc;
        
        .nested--1 {
            margin: -.4rem 0 0rem 1rem;
            list-style-type: square;
        }

        .nested--2 {
            margin: -.4rem 0 0rem 2rem;
            list-style-type: circle;
        }
    }
    
}