.strip {
  display: flex;
  padding: 3rem 5rem;
  margin: 1.8rem 0;
  
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.4);
  
  background-image: linear-gradient(
                      110deg, 
                      rgba(255,255,255, 1) 90%, 
                      rgba(255,255,255, 1) 80%, 
                      transparent 80%
                    );

  cursor: pointer;
  transition: all .35s;
  backface-visibility: hidden;

  &:hover {
    box-shadow: 0 .2rem 1.4rem rgba(0,0,0,.4);
    transform: translateY(-.2rem);
  }

  div {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}