.nav {
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: .5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(80, 0, 119, .95);
  box-shadow: .5rem 0 1rem rgba(0,0,0,.4);

  img {
    width: 3.4rem;
    height: 3.4rem;
    margin-bottom: -.3rem;
  }

  ul {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    & > * {
      font-family: 'Varela Round';
      font-weight: bold;
      font-size: 1.2rem;
      letter-spacing: .6px;
      color: white;
      text-decoration: none;

      padding: .2rem .5rem;
      border-radius: .5rem;
      transition: all .25s;
      
      &:hover {
        background-color: white;
        color: var(--color-purple);
      }
    }
  }
}
