.n-cards-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  div { color: var(--color-purple-light); }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 26rem;
  width: 26rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  text-align: center;

  padding: 5rem 5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.42);
  background-color: white;
  border-bottom: .5rem solid var(--color-purple-light);
  transition: all .3s;
  backface-visibility: hidden;
  
  img {
    width: 7rem;
    height: 7rem;
  }

  &:hover {
    box-shadow: 0 .3rem 1.8rem rgba(0,0,0,.42);
    transform: translateY(-.5rem);
  }
}