.references-conteiner{
    display: block;
    margin: 2rem 0 0;
    padding: 2rem 5rem;
    background-color: var(--color-purple-light);
    color: #f7f7f7;
     h2{
        margin: 1rem 0;
        font-size: 2.6rem;
        text-align: center;

     }
    ul{
        padding: 0;
        list-style: none;
        a{
            text-decoration: none;
            color: inherit;
            font-size: 1.5rem;
            line-height: 1.2;
        }
    }
    
}