.docCard {
  display: flex;
  flex-direction: column;

  padding: 4rem 7rem;
  margin: 4rem 0;
  
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0,0,0,.3);
  font-size: 1.4rem;

  ul { list-style: none; }

  h2 {
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      width: 4rem;
      height: .2rem;
      background-color: var(--color-purple-light);
      margin-bottom: 2rem;
    }
  }
}