:root {
  --color-purple: #500077;
  --color-purple-light: #7300B5;
  --color-purple-dark: #41005E;

  --shadow: 0 6px 2rem rgba(0 ,0, 0, .25);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%ro
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  color: var(--color-purple-light);
  font-size: 3rem;
  margin: 4rem 0;

  &::after {
    content: '';
    display: block;
    margin-left: 47.5%;
    width: 6rem;
    border-bottom: 2px solid var(--color-purple);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 60%;
  margin: 0 auto;
  //background-color: orangered;
}
