:root {
  --color-purple: #500077;
  --color-purple-light: #7300B5;
  --color-purple-dark: #41005E;

  --shadow: 0 1rem 2rem rgba(0 ,0, 0, .35);
  --shadow-close: 0 .5rem 1rem rgba(0, 0, 0, 0.45);
  --shadow-far: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.45);
  --transition-fast: all .5s;
  --transition-slow: all .8s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: calc(.71vw + 1px);
} 

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  color: var(--color-purple-light);
  font-size: 2.6rem;
  margin: 8rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    width: 6rem;
    border-bottom: .18rem solid var(--color-purple);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 80rem;
  margin: 0 auto;
}

.artefact { 
  padding-top: 11rem;
  h1 { margin: 0; }
  a {
    color: var(--color-purple);
    font-weight: bold;
    
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--color-purple-light);
}
