.feature {
  height: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--color-purple-light);
    font-size: 1.9rem;
  }

  img {
    width: 31rem;
    height: auto;
    box-shadow: var(--shadow);
  }

  p {
    font-size: 1.35rem;
  }
}